@import "tailwindcss";

:root {
  --bg: #fef8e8;
  --fg: #161616;
  --title: #f44a22;
}

[direction="rtl"] {
  direction: rtl;
}
[direction="ltr"] {
  direction: ltr;
}

[data-theme="light"] {
  --bg: #fef8e8;
  --fg: #161616;
  --title: #f44a22;
}
[data-theme="dark"] {
  --bg: #030f0f;
  --title: #00df82;
  --fg: #03624c;
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-title: var(--title);

  --font-head: var(--font-head), sans-serif;
  --font-body: var(--font-body), sans-serif;
}

body {
  @apply bg-bg font-body text-fg relative box-border max-h-dvh w-full max-w-dvw overflow-x-hidden overscroll-x-none scroll-smooth antialiased;
}

* {
  @apply outline-fg box-border;
}

.bg-fg {
  @apply outline-bg;
}

/* Default selection */
::selection,
.bg-bg ::selection {
  @apply bg-fg text-bg;
}

/* Invert selection when inside .bg-fg container */
.bg-fg ::selection {
  @apply bg-bg text-fg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-head text-title;
}

button,
a {
  @apply cursor-pointer;
}

.w-99 {
  @apply w-[99%];
}

.icon {
  @apply size-6 cursor-pointer rounded-full border text-center;
}

.card {
  @apply text-bg min-w-16 rounded-lg p-4 text-center;
}
.card span {
  @apply font-sans font-bold tracking-tighter text-gray-100 sm:text-3xl;
}

.tabs {
  @apply flex w-full flex-nowrap items-baseline justify-center gap-2 overflow-x-auto sm:justify-start [&:has(:nth-child(3))]:justify-start;
}
.tabs li {
  @apply font-head relative px-5 py-1 whitespace-nowrap;
}
.tabs li.active-tab button {
  @apply text-bg;
}
.tabs li.active-tab span {
  @apply bg-fg absolute inset-0 -z-10 rounded-full;
}

.grabAction {
  @apply cursor-grab active:cursor-grabbing;
}

*[data-swapy-handle] {
  @apply cursor-move;
}

.drag-elements {
  @apply touch-none;
  -webkit-user-drag: none;
}

/* MASONRY LAYOUT */
section.masonryLayout {
  @apply columns-2 gap-2 overflow-auto md:columns-3 lg:columns-4;
}
section.masonryLayout div.masonryCard {
  @apply mb-2 break-inside-avoid border p-4;
}

[direction="ltr"] [role="menubar"] {
  @apply border-e;
}
[direction="rtl"] [role="menubar"] {
  @apply border-s;
}

/* ANIMATED LINK/BUTTON UNDERLINE */
.animated-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.animated-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 2px;
  width: 0%;
  background-color: currentColor;
  transition: width 0.3s ease;
}
.animated-underline:hover::after {
  width: 100%;
}
