@import "tailwindcss";

:root {
  --bg: #fffaf0;
  --fg: #2b323f;
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --font-head: var(--font-head);
  --font-body: var(--font-body);
}

body {
  @apply bg-bg font-body text-fg relative box-border max-h-dvh w-full max-w-dvw overflow-x-hidden overscroll-x-none antialiased;
}

* {
  @apply box-border;
}

/* Default selection */
::selection,
.bg-bg ::selection {
  @apply bg-fg text-bg;
}

/* Invert selection when inside .bg-fg container */
.bg-fg ::selection {
  @apply bg-bg text-fg;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @apply font-head;
}

button,
a {
  @apply cursor-pointer;
}

.w-99 {
  @apply w-[99%];
}

.icon {
  @apply size-6 cursor-pointer rounded-full border text-center;
}

.card {
  @apply text-bg aspect-square w-full rounded-lg p-4 sm:aspect-auto;
}
.card span {
  @apply font-sans font-bold tracking-tighter;
}

.tabs {
  @apply flex flex-wrap gap-2;
}
.tabs li {
  @apply font-head relative overflow-hidden rounded-full px-5 py-1;
}
.tabs li.active-tab button {
  @apply text-bg;
}
.tabs li.active-tab span {
  @apply bg-fg absolute inset-0 -z-10;
}

.grabAction {
  @apply cursor-grab active:cursor-grabbing;
}

*[data-swapy-handle] {
  @apply cursor-move;
}

.drag-elements {
  @apply touch-none;
  -webkit-user-drag: none;
}

/* MASONRY LAYOUT */
section.masonryLayout {
  @apply columns-2 gap-2 overflow-auto md:columns-3 lg:columns-4;
}
section.masonryLayout div.masonryCard {
  @apply mb-2 break-inside-avoid border p-4;
}

.animated-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.animated-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  height: 2px;
  width: 0%;
  background-color: currentColor;
  transition: width 0.3s ease;
}
.animated-underline:hover::after {
  width: 100%;
}
