@import "tailwindcss";

:root {
  --bg: #fffaf0;
  --fg: #2b323f;
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --font-head: var(--font-head);
  --font-body: var(--font-body);
}

body {
  @apply bg-bg font-body text-fg box-border max-h-dvh w-full max-w-dvw overflow-x-hidden antialiased;
}

* {
  @apply selection:bg-fg selection:text-bg box-border outline-transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-head;
}

button,
a {
  @apply cursor-pointer;
}

.w-99 {
  @apply w-[99%];
}

.icon {
  @apply size-6 cursor-pointer rounded-full border text-center;
}

.card {
  @apply text-bg aspect-square w-full rounded-lg p-4 sm:aspect-auto;
  span {
    @apply font-sans font-bold tracking-tighter;
  }
}

.tabs {
  @apply inline-flex w-full justify-around gap-2.5 sm:w-fit;
}
.tabs li {
  @apply relative overflow-hidden rounded-full px-3.5 py-1 capitalize;
}
.tabs li.active-tab button {
  @apply text-bg;
}
.tabs li.active-tab span {
  @apply bg-fg absolute inset-0 -z-10;
}
